:root {
  --light-theme: #fafafa;
  --dark-theme: #09090b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
  font-weight: 500;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  width: 100%;
  align-items: center;
  color: var(--dark-theme);
  background-color: var(--light-theme);
  transition: 0.3s;
}

body.dark-theme {
  color: var(--light-theme);
  background-color: var(--dark-theme);
}

.btnDark {
  font-size: 18px;
  background-color: transparent;
  border-radius: 6px;
  border: none;
  outline: none;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

h2 {
  font-weight: bold;
  letter-spacing: -1px;
}

.card {
  width: 300px;
  height: 400px;
  margin-bottom: 15px;
  border-radius: 9px;
  box-shadow: rgb(0, 0, 0) 0px 3px 15px;
  background-size: cover;
  background-position: center center;
  background-image: url(asasets/57a8a471d9749bfcd24febc19aa8bb7b.jpg);
}

h1 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
}
.form label {
  color: #000000;
  font-size: 16px;
  margin-bottom: 6px;
}

.form input {
  padding: 10px;
  border: none;
  background-color: #e0dfdf;
  border-radius: 7px;
  outline: none;
}

.time-played {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time-played button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #f3f2f2;
}

span {
  font-size: 16px;
}
